<launch>
    <arg name="tcp_ip" default="0.0.0.0"/>
    <arg name="tcp_port" default="10000"/>

    <!-- Start the ROS TCP Server -->
    <node name="server_endpoint" pkg="ros_tcp_endpoint" type="default_server_endpoint.py" args="--wait" output="screen" respawn="true">
        <param name="tcp_ip" type="string" value="$(arg tcp_ip)"/>
        <param name="tcp_port" type="int" value="$(arg tcp_port)"/>
    </node>

    <!-- Start the Subscriber Node -->
    <node name="simple_subscriber" pkg="my_robot_listener" type="simple_subscriber.py" output="screen"/>
</launch>
